{% extends 'base.html' %}

{% block content %}

    <div style="text-align:center">
    <h1>{{ single_cat }}</h1>
    {{ single_cat.breed }}
    {{ single_cat.birth }}
    {{ single_cat.gender }}
    {{ single_cat.fur }}
    {{ single_cat.number }}
    {{ single_cat.title }}
    {{ single_cat.father }}
    {{ single_cat.mother }}
    {{ single_cat.site }}
    <h1>FATHER TEST</h1>
    {% if cat_father.id %}
        <td><a href="{% url 'cat' cat_father.id%}">{{ cat_father.name }}</a></td>
    {% else %}
        No father found
    {% endif %}
    <h1>MOTHER TEST</h1>
    {% if cat_mother.id %}
        <td><a href="{% url 'cat' cat_mother.id%}">{{ cat_mother.name }}</a></td>
    {% else %}
        No mother found
    {% endif %}
    </div>

{%  endblock %}