
{% extends 'base.html' %}


{% block content %}
    <div class="container">
    <h2>Found {{ cat_count }} cats matching the query </h2>
        <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Breed</th>
           <th>Identification</th>
          <th>Date of Birth</th>
          <th>Appearance Code</th>
        </tr>
      </thead>
      <tbody>
        {% for cat in cats %}
          <tr>
              <td><a href="{% url 'cat' cat.id%}">{{ cat.name }}</a></td>
              <td>{{ cat.breed }}</td>
              <td>{{ cat.number }}</td>
            <td>{{ cat.birth }}</td>
            <td>{{ cat.fur }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <nav aria-label="Cat navigation">

          <form class="form-inline" method="get" action="{% url 'search_cat' %}">
                      <div class="form-group input-group-sm" style="display:inline-flex; float:left; margin-right:0px;">
      <input class="form-control me-2" type="search" placeholder="Show Page" aria-label="Search" name="page" >
          <input type="hidden" name="cat_name" value={{ searched_term }}>
          <input type="hidden" name="cat_id" value={{ cat_id }}>
          <input type="hidden" name="cat_gender" value={{ cat_gender }}>
          <input type="hidden" name="cat_breed" value={{ cat_breed }}>
          <input type="hidden" name="cat_date" value={{ cat_date }}>
          <input type="hidden" name="cat_fur" value={{ cat_fur }}>
          <input type="hidden" name="cat_date_before" value={{ cat_date_before }}>
          <input type="hidden" name="cat_date_after" value={{ cat_date_after }}>
          <input type="hidden" name="cat_order" value={{ cat_order }}>
          <input type="hidden" name="cat_order_by" value={{ cat_order_by }}>


         <div>
        <button class="btn btn-dark">Show</button></div>
        </div>
          </form>


  <ul class="nav justify-content-center">
      {% if cats.has_previous %}
          <li class="page-item"><a class="page-link" style="background:#161c2d ; color: white" href="?page=1&cat_name={{ searched_term }}&cat_ID={{ cat_id }}&cat_gender={{ cat_gender }}&cat_breed={{ cat_breed }}&cat_date={{ cat_date }}&cat_date_before={{ cat_date_before }}&cat_date_after={{ cat_date_after }}&cat_fur={{ cat_fur }}&cat_order_by={{ cat_order_by }}&cat_order={{ cat_order }}">First</a></li>
          <li class="page-item"><a class="page-link" style="background:#161c2d ; color: white" href="?page={{ cats.previous_page_number }}&&cat_name={{ searched_term }}&cat_ID={{ cat_id }}&cat_gender={{ cat_gender }}&cat_breed={{ cat_breed }}&cat_date={{ cat_date }}&cat_date_before={{ cat_date_before }}&cat_date_after={{ cat_date_after }}&cat_fur={{ cat_fur }}&cat_order_by={{ cat_order_by }}&cat_order={{ cat_order }}">Previous</a></li>
      {% endif %}
  <li class="page-item active" aria-current="page">
      <span class="page-link" style="background:white ; color: black; border-color: #161c2d">Current page: {{ cats.number }}</span>
    </li>
  {% if cats.has_next %}
    <li class="page-item"><a class="page-link" style="background:#161c2d ; color: white" href="?page={{ cats.next_page_number}}&cat_name={{ searched_term }}&cat_ID={{ cat_id }}&cat_gender={{ cat_gender }}&cat_breed={{ cat_breed }}&cat_date={{ cat_date }}&cat_date_before={{ cat_date_before }}&cat_date_after={{ cat_date_after }}&cat_fur={{ cat_fur }}&cat_order_by={{ cat_order_by }}&cat_order={{ cat_order }}">Next</a></li>
      <li class="page-item"><a class="page-link" style="background:#161c2d ; color: white" href="?page={{ cats.paginator.num_pages}}&cat_name={{ searched_term }}&cat_ID={{ cat_id }}&cat_gender={{ cat_gender }}&cat_breed={{ cat_breed }}&cat_date={{ cat_date }}&cat_date_before={{ cat_date_before }}&cat_date_after={{ cat_date_after }}&cat_fur={{ cat_fur }}&cat_order_by={{ cat_order_by }}&cat_order={{ cat_order }}">Last</a></li>
  {% endif %}
  </ul>
</nav>
    </div>
{%  endblock %}